<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
	<h3>메모 목록</h3>
	
		<table>
			<tr>
				<td>번호</td>
				<td>메모</td>
				<td>연락처</td>
				<td>공개여부</td>
			</tr>
			
			<!-- 반복문으로 처리해주세요 -->						
			<tr th:each="vo : ${list}">
				<td>[[${vo.mno}]]</td>
				
				<!-- if~else로 처리해주세요(공개글인 경우는 상세보기로 이동할 수 있습니다) -->
				<td th:if="${vo.secret} == 'n'">비밀글입니다</td>
				<td th:unless="${vo.secret} == 'n'">
					<a th:href="@{memoDetail(mno=${vo.mno})}">[[${vo.memo}]]</a>
				</td>
				
				<td>[[${vo.phone}]]</td>
				<td>[[${vo.secret}]]</td>
			</tr>
			
	</table>
	
	<a href="/memo/memoWrite">메모쓰기</a>
</body>
</html>